<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js vezbanje</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="vue-app">
        <p>Poziv obicne funkcije!</p>
        <h1>{{greet()}}</h1>

        <p>Poziv funkcije sa parametrom</p>
        <h2>{{greet2("Stefan")}}</h2>

        <p>Pristup podacima vue instance</p>
        <h3>Name: {{name}}</h3>
        <h3>His job is: {{job}}</h3>

        <p>Bind-ovanje podataka vue instance</p>
        <a v-bind:href="website">His Site!</a> </br>
        <input type="text" name="text-ime" :value="name">

        <p>Obrada html elementa</p>
        <p v-html="websiteTag"></p>

        <p>Obrada evenata u Vue.js</p>
        <button v-on:click="addYear">Dodaj Godinu</button>
        <button v-on:click="decreaseYear">Smanji Godinu</button>
        <button v-on:dblclick="addYear">Double Click Dodaj Godinu</button>
        <p>Danasnja godina je: {{year}}</p>

        <p>Pracenje kretanja misa</p>
        <div id="canvas" @mousemove="updateXY"> {{x}}, {{y}} </div>

        <p>Pokretanje eventa samo jednom</p>
        <button v-on:click.once="addYear">Dodaj Godinu</button>
        <p>Danasnja godina je: {{year}}</p>

        <p>Obrada keyboard Evenata</p>
        <label>Ime:</label>
        <input type="text" name="text-ime" @keyup.enter="logName">
        <label>Godine: </label>
        <input type="text" name="text-godine" @keyup.enter="logAge">

        <p>Uporedo updejtovanje vrednosti (Two way binding)</p>
        <label>Ime:</label>
        <input type="text" name="text-ime" v-model="ime">
        <span>{{ ime }}</span>
        <label>Godine: </label>
        <input type="text" name="text-godine" v-model="godina">
        <span>{{ godina }}</span>

        <p>Computed Properties</p>
        <button @click="a++">Add A</button>
        <button @click="b++">Add B</button>
        <p>A = {{ a }}</p>
        <p>B = {{ b }}</p>
        <p>Nesto + A = {{ addToA }}</p>
        <p>Nesto + B = {{ addToB }}</p>

        <p>Dinamicki css</p>
        <!--Ako je vrednost abailable true onda je klasa available,
        tu moze da bude i neka lista klasi tako da se menja vise klasi-->
        <!--Znak ! komplementira trenutnu vrednost atributa -->
        <div @click="available = !available" :class="{available: available}">
            <span>Nesto</span>
        </div>
        <!--Da ne bi pisali listu klasa i za svaku da proveravamo onda
        saljemo objekat koji ce da postavi klasu elementu-->
        <button @click="nearby=!nearby">Toggle Nearby</button>
        <button @click="available=!available">Toogle Available</button>
        <!--compClasses je computed property koji vraca objekat sa listom
        klasa koje mogu da se postave ovom divu -->
        <div :class="compClasses">
            <span>Nesto2</span>
        </div>

    </div>

    <script src="vezbanjeVue.js"></script>
</body>
</html>